<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>个人记账系统</title>

    <!-- Bootstrap -->
    <link href="{$Think.const.CSS_URL}bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{$Think.const.JS_URL}html5shiv.min.js"></script>
    <script src="{$Think.const.JS_URL}respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--引入头部-->
{include file="../../public/view/head" /}

<!--工作区work数据-->
<iframe name="work" src="/report.php/report/index/indexdetaillist" frameborder="0" scrolling="no" id="indexiframe"
        onload="this.height=100" style="width: 100%"></iframe>
<!--work自适应高度-->
<script type="text/javascript">
    function reinitIframe() {
        var iframe = document.getElementById("indexiframe");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
            console.log(height);
        } catch (ex) {
        }
    }

    window.setInterval("reinitIframe()", 200);
</script>

<!--引入底部-->
{include file="../../public/view/foot" /}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{$Think.const.JS_URL}jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{$Think.const.JS_URL}bootstrap.min.js"></script>
</body>
</html>